@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-foreground: #e2e8f0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #020617;
  color: #e2e8f0;
  font-family: var(--font-space-grotesk), sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

code,
pre,
.font-mono {
  font-family: var(--font-jetbrains-mono), monospace;
}
