# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# environment variables
.env

# logs
logs/

# data
data/

# frontend
node_modules/
build/

# OS
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env

# Node
node_modules/


# build
dist/
build/


# models (optional if large)
*.joblib